<div class="container">
  <h2 [appBackground]=" 'lavender' " [defaultColor]="'transparent'">To Do List!</h2>
  <div class="input-group">
    <input class="form-control" type="text" #inputItem>
    <div class="input-group-prepend">
      <button class="btn-outline-dark btn" type="button" (click)="addItem(inputItem.value)">Add</button>
    </div>
  </div>
  <app-search (getItem)="getItem($event)" ></app-search>
  <div class="custom-control custom-checkbox" *ngFor="let item of list | filter:searchItem, let ind = index">
    <input type="checkbox" class="custom-control-input"  id="customCheck{{ind}}">
    <label class="custom-control-label" for="customCheck{{ind}}" [appBackground]=" 'peachPuff' " [defaultColor]="'transparent'">{{item | todoDisplay }}</label>
  </div>
</div>
